<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Les festivals de votre région</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <link rel="stylesheet" href="style.css?v=1">
</head>
<body>
<h1>Les festivals de votre région</h1>
<div id="map"></div>
<form action="create">
    <button type="submit" id="add-festival">Ajouter un festival</button>
</form>
<table id="festivals-table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Ville</th>
        <th>Lieu</th>
        <th>Début</th>
        <th>Fin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="festival : ${festivals}" th:data-lat="${festival.lat}" th:data-lon="${festival.lon}">
        <td th:text="${festival.nom}"></td>
        <td th:text="${festival.ville}"></td>
        <td th:text="${festival.lieu}"></td>
        <td th:text="${festival.debut}"></td>
        <td th:text="${festival.fin}"></td>
        <td>
            <form th:action="@{/edit/{id}(id=${festival.id})}" method="get">
                <button type="submit">Editer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="script.js"></script>
</body>
</html>
