<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Les festivals de votre région - Bretagne</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Les festivals de votre région</h1>
<div id="map"></div>
<div class=""><a href="/festivals/create"><button id="add-festival">Ajouter un festival</button></a></div>
<ul id="festival-list">
    <li th:each="festival : ${festivals}">
        <span th:text="${festival.nom}"></span>
        <span th:text="${festival.ville}"></span>
        <span th:text="${festival.lieu}"></span>
        <span th:text="${festival.debut}"></span>
        <span th:text="${festival.fin}"></span>
        <form th:action="@{/festivals/{id}/edit(id=${festival.id})}" method="get">
            <button type="submit">Editer</button>
        </form>
    </li>
</ul>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="script.js"></script>
<script th:inline="javascript">
    var festivals = /*[[${festivals}]]*/ [];
</script>
</body>
</html>
